<div class="container">
  <tr>
    <td><%= link_to order.id, order %></td>
    <td>
      <%= link_to order_path(order) do %>
      <%=image_tag order.deal.deal_images.first.image.url(:thumb), class: "img-responsive", alt: "#{ order.deal.deal_images.first.image_file_name }" %>
      <% end %>
    </td>
    <td><%= order.deal.title %></td>
    <td class="text-center"><%= number_to_currency(order.deal.price , unit: "$") %></td>
    <td class="text-center"><%= order.quantity %></td>
    <td class="text-center"><%= order.status %></td>
    <td class="text-center"><%= order.placed_at.to_s(:detailed) if order.placed_at? %></td>
    <td class="text-right"><%= number_to_currency(order.calculate_total_price , unit: "$")%></td>
  </tr>
</div>