<div class="container">
  <div class="container">
    <div class="row col-md-12 panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center"><strong>Order Summary # <%= @order.id %></strong></h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <td>#</td>
                <td></td>
                <td><strong>Deal Name</strong></td>
                <td class="text-center"><strong> Deal Price</strong></td>
                <td class="text-center"><strong>Deal Quantity</strong></td>
                <td><strong>Order Status</strong></td>
                <td><strong>Order Placed At</strong></td>
                <td class="text-right"><strong>Total</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @order.id %></td>
                <td>
                  <%=image_tag @order.deal.deal_images.first.image.url(:thumb), class: "img-responsive", alt: "#{ @order.deal.deal_images.first.image_file_name }" %>
                </td>
                <td><%= @order.deal.title %></td>
                <td class="text-center"><%= number_to_currency(@order.deal.price , unit: "$") %></td>
                <td class="text-center"><%= @order.quantity %></td>
                <td class="text-center"><%= @order.status %></td>
                <td class="text-center"><%= @order.placed_at.to_s(:detailed) %></td>
                <td class="text-right"><%= number_to_currency(@order.calculate_total_price , unit: "$")%></td>
              </tr>
              <tr>
                <td class="highrow"></td>
                <td class="highrow"></td>
                <td class="highrow"></td>
                <td class="highrow"></td>
                <td class="highrow"></td>
                <td class="highrow"></td>
                <td class="highrow text-center"><strong>Total</strong></td>
                <td class="highrow text-right"><%= number_to_currency(@order.calculate_total_price , unit: "$") %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-heading">
        <h3 class="text-center"><strong> Transaction Details </strong></h3>
      </div>
      <br>
      <div class="row">
        <div class="col-12 col-lg-3 col-md-3 col-sm-3 col-xs-12 demo">
          <div class="info-block">
            <b>Order Transaction</b>
            <% order_transaction = @order.payment_transactions.order(created_at: :asc).first %>
            <ul>
              <li><strong>Amount</strong> : <%= number_to_currency(order_transaction.order.calculate_total_price , unit: "$") %></li>
              <li><strong>Card Brand</strong> : <%= order_transaction.card_brand %> </li>
              <li><strong>Card Exp. Month</strong>  : <%= order_transaction.exp_month %> </li>
              <li><strong>Card Exp. Year</strong> : <%= order_transaction.exp_year %> </li>
              <li><strong>Last Four Digits</strong> : <%= order_transaction.last_four_digits %> </li>
            </ul>
          </div>
        </div>
        
        <% refund_transaction = @order.payment_transactions.order(created_at: :asc).second %>
        <% if refund_transaction %>
        <div class="col-12 col-lg-3 col-md-3 col-sm-3 col-xs-12 demo">
          <div class="info-block">
            <b>Refund Transaction</b>
            <ul>
              <li><strong>Amount</strong> : <%= number_to_currency(refund_transaction.order.calculate_total_price , unit: "$") %></li>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
      <% if @order.coupons.any? %>
      <div class="panel-heading">
        <h3 class="text-center"><strong> Coupons </strong></h3>
      </div>
      <ul>
        <%= render @order.coupons %>
      </ul>
      <% end %>
    </div>
  </div>
</div>