<div class = "col-sm-6 col-md-3">
   <div class = "thumbnail">
      <%= link_to deal_path(deal) do %>
      <%=image_tag deal.deal_images.first.image.url(:thumb), class: "img-responsive", alt: "No Image to display." %>
      <%end %>
      <h3 class="pull-right"><%= number_to_currency(deal.price, unit: "Rs.") %></h3>
   </div>
   
   <div class = "caption">
      <h4><b><%= deal.title %></b></h4>
      <p><%= truncate(strip_tags(deal.description), length: 100)%></p>
      <p>
         <%= link_to 'View Deal', deal_path(deal), class: "btn btn-default" %><br/>
      </p>
   </div>
</div>