<% content_for :head do %>
<%= javascript_include_tag 'slideshow' %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Cart</p>
      <div class="list-group">
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <div class="center-block" data-behaviour = 'slideshow'>
          <%= render partial: 'deal_images/slideshow_deal_image', collection: @deal.deal_images %>
        </div>
        <div class="caption-full">
          <h4 class="pull-right"><%= number_to_currency(@deal.price, unit: "Rs.") %></h4>
          <h3><%= @deal.title %></h3>
          <p><b> Description : </b><%= @deal.description %></p>
          <hr>
          <p><b> Instructions : </b><%= @deal.instructions %></p>
          <hr>
          <p><b> Minimum Quantity Required to Redeem : </b><%= @deal.min_qty %></p>
          <hr>
          <p><b> Maximum Quantities : </b><%= @deal.max_qty %></p>
          <hr>
          <p><b> Maximum Quantity Per Customer : </b><%= @deal.max_qty_per_customer %></p>
        </div>
      </div>
    </div>
  </div>
</div>