<tr class = 'text-center' >
  <td>
    <%= deal.id %>
  </td>
  <td >
    <%= deal.title %>
  </td>
  <td>
    <%= deal.price %>
  </td>
  <td>
    <%= deal.sold_quantity %>
  </td>
  <td>
    <% if deal.start_time %>
    <%= deal.start_time.to_formatted_s(:long) %>
    <% end %>
  </td>
  <td>
    <% if deal.expire_time %>
    <%= deal.expire_time.to_formatted_s(:long) %>
    <% end %>
  </td>
  <td>
    <div  data-behaviour = 'unpublishable', class="<%= deal.publishable ? 'show' : 'hidden' %>">
      <%= image_tag("green-circle.png", size: "18") %>
      Published &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Unpublish It', unpublish_admin_deal_path(deal), method: :put, data: { disable_with: :processing, behaviour: :unpublish }, remote: true, format: :json, class: "btn btn-danger"%>
    </div>
    <div data-behaviour = 'publishable', class="<%= deal.publishable ? 'hidden' : 'show' %>">
      <%= image_tag("red-circle.png", size: "18") %>
      Unpublished &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Publish It', publish_admin_deal_path(deal),method: :put, data: { disable_with: :processing, behaviour: :publish } ,remote: true, format: :json, class: "btn btn-success" %>
    </div>
  </td>
  <td >
    <%= link_to 'Show', admin_deal_path(deal) %><br/>
    <%= link_to 'Edit', edit_admin_deal_path(deal) %><br/>
    <%= link_to 'Destroy', admin_deal_path(deal), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>