<h1> Detail </h1>
<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>
<p>
  <strong>Minimum Quantity:</strong>
  <%= @deal.min_qty %>
</p>
<p>
  <strong>Maximum Quantity:</strong>
  <%= @deal.max_qty %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @deal.start_time %>
</p>
<p>
  <strong> Expire Time:</strong>
  <%= @deal.expire_time %>
</p>
<p>
  <strong>Price:</strong>
  <%= @deal.price %>
</p>
<p>
  <strong> Maximum Quantity Per Customer:</strong>
  <%= @deal.max_qty_per_customer %>
</p>
<p>
  <strong> Instructions:</strong>
  <%= @deal.instructions %>
</p>
<p>
  <strong> Category:</strong>
  <%= @deal.category.name %>
</p>
<p>
  <strong>Merchant:</strong>
  <%= @deal.merchant.name %>
</p>